* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

#myVideo {
    position: fixed;
    right: 0;
    top: 57px;
    bottom: 0;
    width: 100%;
}

.welcome {
    position: absolute;
    width: 100%;
    left: 0%;
    bottom: 0px;
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
}

@media only screen and (max-width: 768px) {
    #myVideo {
        top: 193px;
    }
}
