.searchForm{
    border-style: solid;
    text-align: center;
}

.searchBarSection{
    /*border-style: solid;*/
    /*border-color: #333333;*/
    /*border-width: 1px;*/
    text-align: center;
}

.filterCheckbox{
    /*border-style: solid;*/
    /*border-color: #333333;*/
    /*border-width: 1px;*/
    overflow: hidden;
}

.checkboxBook{
    /*border-style: solid;*/
    /*border-color: #333333;*/
    /*border-width: 1px;*/
    display: inline-block;
    overflow: hidden;
}

.checkboxMovie{
    margin-left: 5%;
    /*border-style: solid;*/
    /*border-color: #333333;*/
    /*border-width: 1px;*/
    display: inline-block;
    overflow: hidden;
}

.checkboxMagazine{
    margin-left: 5%;
    /*border-style: solid;*/
    /*border-color: #333333;*/
    /*border-width: 1px;*/
    display: inline-block;
    overflow: hidden;
}

.checkboxMusic{
    margin-left: 5%;
    /*border-style: solid;*/
    /*border-color: #333333;*/
    /*border-width: 1px;*/
    display: inline-block;
    overflow: hidden;
}

#books{
    display: inline-block;
}