doctype html
html(lang="en")
  head
    title FreeForFree - Library Management
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css_styles/editUser_styles.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')


  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand
            a(href="/users") FreeForFree

        ul.nav.navbar-nav
          li
            a(href="/users/admin/list") Active Users
          li
            a(href="/users/admin/catalog") Catalog
          li
            a(href="/users/admin/addUser") Create New User
          li
            a(href="/users/admin/editUserInfo") Edit User Info
       

        p.navbar-text.navbar-right
          if profile
            if profile.image
              img.img-circle(src=profile.image, width=24)
            span #{profile.displayName} &nbsp;
              a(class="btn btn-danger" href=logout) <span class="glyphicon glyphicon-log-out"></span> Logout

    block content
