extends ../../catalog-client.pug


block content
  .container
    div(class="searchForm")
      .form-group
        h1
          label(for="search") Search <span class="glyphicon glyphicon-search"></span>
        form(action = "movies" method = "post" name = "movies")
          input.form-control(type="text", name="searchBar")
          br
