extends adminBase.pug

block content
    .container
        h3 Unregistered Users
        
        table(class='table', id='Unregistered_User_Table')
            thead
                tr
                    th Name
                    th ID
                    th Type
            tbody(id='Unregistered_User_Table_body')
                each user in users
                    tr
                        form(method="POST" action="addUser")
                            td= user.profileName
                            td(name="userID")= user.profileID
                            td(class= "usertypeChoice" style="display: none") 
                                .form-group
                                    select(class="selectType", name="userType", id=user.profileID)
                                        option(value='3 id='+user.profileID) Guest
                                        option(value='2 id='+user.profileID) User
                                        option(value='1 id='+user.profileID) Admin
                            td(class = "usertypeText") Guest
                            td(class = "EditUserType btn btn-primary" ) Edit
                            td(style = "display:none")
                                input(class = "SaveUserType" type="submit" value="Save")
                        
                        
        if !users.length
            p No Unregistered users found.

    script.

            $( document ).ready(function() {

                
                
            });

            //- console.log($(".usertypeText").html($(this).value));

            $(".EditUserType").click(function(){
                $(this).parent().children(".usertypeText").css("display","none");
                $(this).parent().children(".usertypeChoice").css("display","block");
                $(this).next().css("display","block"); // display Save button

            });

            $(".SaveUserType").click(function(){
                $(this).css("display","none");
                $(".submit").click();
                
            });
        
            



            
