extends adminBase.pug

block content
    .container
        h3 Unregistered Users

        table(class='table')
            thead
                tr
                    th Name
                    th ID
                    th Type
            tbody
                each user in users
                    tr
                        td= user.profileName
                        td= user.profileID
                        td 
                            select(name="userType_"+ user.profileID form="guestType")
                                option(value='3') guest
                                option(value='2') user
                                option(value='1') admin
                        
        if !users.length
            p No Unregistered users found.

        div    
            input(type="submit" value="submit" form="guestType") 
        // replace these br with CSS whitespace later    
        br 
        br    
        h3 Manually create user
        table(class='table')
            tbody  
                tr
                    td Full Name
                    td
                        input(type="text" name='fullName')
                tr
                    td  Email
                    td
                        input(type="text" name='fullName')

        // in retro

            