extends adminBase.pug

block content
            ul.nav.navbar-nav
              li
                a(href="/users/admin/books") Books
              li 
                a(href="/users/admin/magazines") Magazines
              li
                a(href="/users/admin/movies") Movies
              li 
                a(href="/users/admin/music") Music
          li 
            a(href="/users/admin/formBook") Add Book
          li 
            a(href="/users/admin/formMagazine") Add Magazine
          li 
            a(href="/users/admin/formMovie") Add Movie
          li 
            a(href="/users/admin/formMusic") Add Music

    .container
