extends ../base.pug

block content
  .container

    video(autoplay muted loop id="myVideo")
      source(src="/media/Slide-Show.mp4" type="video/mp4")
    div(class="welcome")
      h1(class="text-center") Welcome to FreeForFree's library services!
      p 
        |By combining the latest web technology, our staff builds and maintains a rich information environment and facilitates 
        strong your 
        |access to it.
