extends ../base.pug

block content
  video(autoplay muted loop id="myVideo")
    source(src="/media/Slide-Show.mp4" type="video/mp4")

  div(class="content")
    h1(class="text-center") Welcome
    p Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.
