doctype html
html(lang="en")
  head
    title FreeForFree - Library Management
    meta(charset='utf-8'
)
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css")
    link(rel='stylesheet' href='/css_styles/catalog_styles.css' type='text/css' media='screen' charset='utf-8')
    script(type = 'text/javascript' src ='/Javascript_files/Search.js')
  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand FreeForFree
          
      form(action='/users', method='post')
        select.form-control.input-lg
          option(value='0') -- Select --
          option(value='6') Book
          option(value='7') Movie
          option(value='10') Magazine
          option(value='11') Music
      button(onclick="myFunction()") Click me

      script.
        console.log('Foo bar');
        
      p#demo

  
